:root {
  --main-color: rgb(50, 57, 63);
  --secondary-color: rgb(111, 0, 152);
}
header {
  background-color: var(--main-color);
  color: white;
  text-align: center;
  margin: 0;
  padding: 0.75rem;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--main-color);
  color: white;
  padding: 0.5rem;
  font-size: 150%;
}
nav a {
  color: white;
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: white;
}
