:root {
  --main-color: rgb(50, 57, 63);
  --secondary-color: rgb(111, 0, 152);
}
header {
  background-color: var(--main-color);
  color: white;
  text-align: center;
  margin: 0;
  padding: 0.75rem;
}
h1 {
  margin: 0;
  padding: 0;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--main-color);
  color: white;
  padding: 0.5rem;
  font-size: 150%;
}
nav a {
  color: white;
  text-decoration: none;
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
}
body {
  margin: 0;
  padding: 0;
  background-color: white;
}
.about-me img {
  width: 25%;
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  box-shadow: 5px 5px 5px var(--secondary-color);
  margin: 1rem;
}
.about-me {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}
.about-me h2 {
  font-size: 250%;
  text-align: center;
}
.about-me p {
  width: 50%;
  text-align: center;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}
.card img {
  width: 60%;
  margin: 1rem;
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  box-shadow: 5px 5px 5px var(--secondary-color);
}
.project-heading {
  text-align: center;
  font-size: 250%;
  margin: 1rem;
}
.card {
  margin: 1rem;
  padding: 1rem;
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  box-shadow: 5px 5px 5px var(--secondary-color);
  width: 50%;
}
#main-project {
  width: 100%;
}
footer {
  width: auto;
  background-color: var(--main-color);
  color: white;
  text-align: center;
  margin: 0;
  padding: 0.75rem;
}
